<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Edit</title>
    </head>
    <body>
        <h1>Enter the Doc ID to Edit</h1>
        <form method="post" action="/register">
            <label for="docID">DOC ID:</label>
            <input type="text" id="docID" name="docID">
            <br>
            <input type="Submit" value="Submit">
        </form>
    </body>
</html>