<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Visity</title>
  </head>
  <body>
    <h1>Welcome</h1>
    <a href="./register">Register</a>
    <a href="./dashboard">dashboard</a>
    <h2>For Edit visit : /:docID/edit</h2>
    <br>
    <h2>For Delete visit: /:docID/delete </h2>

  </body>
</html>